<div class="about-wrapper row">
  <div class="profile-image col-sm-4">
    <h4 class="hidden-sm-up">Sherry Klemen</h4>
    <img src="/img/profile.jpg" class="img-thumbnail img-responsive" alt="profile picture">
  </div>
  <div class="col-sm-8">
    <div class="info jumbotron">
        <h4 class="text-xs-center text-sm-left hidden-xs-down">Sherry Klemen</h4>
        <p class="text-xs-center text-sm-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tempor magna, ut luctus odio convallis eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut ut iaculis lorem. Etiam tempus hendrerit dolor, at mattis lorem rutrum ac. Nullam eget efficitur tellus, ac convallis mauris. Mauris nec nulla et eros gravida luctus non a mauris. Aliquam erat volutpat. Aliquam sed orci eu dolor accumsan bibendum in faucibus erat. Praesent egestas magna magna.</p>
    </div>
  </div>
</div>
