.album-wrapper{
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 2rem 30px 2rem;
}
.bg-all{
    background-image: url('/img/woodenBg.jpg');
    background-size: cover;
    background-position-y: 80%;
}