<div [ngSwitch]="loading">

  <!--if Loading-->
  <div *ngSwitchCase="true">
    <loading-indicator></loading-indicator>
  </div>

  <!--if Data-->
  <div *ngSwitchCase="false">
    <div class="album-wrapper">
      <h2>
        {{albumTitle}}
      </h2>
      <div *ngFor="let image of images" class="image-detail col-sm-6 col-md-4">
        <div class="img-wrapper">
          <img [src]="image.link" class="" [alt]="image.title">
        </div>

        <div>
          <h4>{{image.title}}</h4>
          <p>{{image.description}}</p>
        </div>
      </div>
    </div>
  </div>

</div>


