.album-wrapper{
  h2{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0,0,0, 0.8);
    letter-spacing: 7px;
  }
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
  padding: 7rem 2rem 30px 2rem;
  .back-to-gallery{
    color: #fff;
    font-weight: bold;
    padding: 5px 7px;
    background-color: rgba(255, 255, 255, 0.35);
    border: solid 2px #fff;
    transition: background-color .2s, border-bottom .4s ease;
    &:hover{
      background-color: #fff;
      color: #3a3a3a;
    }
  }
}