.bg-all{
    background-image: url('/img/woodenBg.jpg');
    background-size: cover;
    background-position-y: 80%;
}
.gallery-wrapper{
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 2rem 30px 2rem;
  .image-detail{
    min-height: 300px;
    overflow: hidden;
    margin-bottom: 2rem;
    padding: 1.2rem;
    margin: 2rem 1rem;

    background-color: rgba(255,255,255, 0.8);
    .img-wrapper{
      margin-bottom: 1rem;
      display: block;
      position: relative;
      height: 0;
      padding: 78% 0 0 0;
      overflow: hidden;
      img{
        cursor: pointer;
        position: absolute;
        display: block;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.2s ease-out;
        box-shadow: 6px 6px 10px #aaa;
      }
    }
    .view-more{
      span{
        float: left;
        margin-left: 1rem;
      }
      button {
        float: right;
        margin-right: 1rem;
        transition: all 0.2s ease-out;
      }
    }
  }
}