h2{
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0,0,0, 0.8);
  letter-spacing: 7px;
}
.gallery-wrapper {
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
  padding: 7rem 2rem 30px 2rem;
  .image-detail {
    min-height: 300px;
    overflow: hidden;
    margin-bottom: 2rem;
    padding: 1.2rem;
    .w-90 {
      width: 97%;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 3px;
      padding-top: 0.5rem;
      .img-wrapper {
        margin-bottom: 1rem;
        display: block;
        position: relative;
        height: 0;
        padding: 78% 0 0 0;
        overflow: hidden;
        img {
          cursor: pointer;
          position: absolute;
          display: block;
          max-width: 100%;
          max-height: 100%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          transition: all 0.2s ease-out;
          box-shadow: 6px 6px 10px #aaa;
        }
        .gallery-description{
          max-height: 58px;
          overflow: auto;
          p{
            margin-bottom: 0;
          }
        }
      }
    }
    .view-more {
      display: flex;
      justify-content: space-around;
      padding-bottom: 0.7rem;

      button {
        background-color: transparent;
        transition: all 0.15s ease-out;
        color: #0194a2;
        border: solid 1px #0194a2;
        &:hover{
          background-color: #0194a2;
          border-color: transparent;
          color: #fff;
        }
      }
    }
  }
}