// styles applied on :host are applied on the current component, "app" in this case

:host {
  display: block;
}

header {
  background-color: #fff;
  padding: 10px 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: 600px) {
    justify-content: center;

    nav {
      margin-top: 0.7rem;
    }

    h3 {
      margin-top: 0.5rem;
    }
  }

  h3 {
    display: inline-block;
    color: rgba(0,0,0,0.85);
    margin: 0;
  }

  nav {
    // br {
    //   @media(min-widht: 600px) {
    //     display: none;
    //   }
    // }
    .btn {
      background-color: #fff;
      color: rgba(0,0,0,0.85);
      font-size: 1.3rem;
      font-weight: bold;
      margin-left: 0.7rem;
      //   border-radius: 0;
      border-bottom: solid 4px transparent;
      border: solid 2px #0194a2;
      transition: background-color 0.2s, border-bottom 0.4s ease;

      &:hover {
        background-color: #0194a2;
        color: #fff;
      }

      &:focus {
        outline: none;
      }
    }

    .is-active {
      .btn {
        background-color: #0194a2;
        color: white;
      }
    }
    @media (max-width: 600px) {
      .btn {
        font-size: 1rem;
      }
    }
  }
}

main {
  text-align: center;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.background {
  background-image: url('/img/woodenBg.jpg');
  background-size: cover;
  position: relative;
}

.h-100{
    -webkit-overflow-scrolling: touch;
}
