// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

header {
  background-color: rgba(35,35,35, 0.78);
  padding: 10px 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  nav{
    text-align: right;
    .btn{
      background-color: transparent;
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      //border-radius: 0;
      border-bottom: solid 4px transparent;
      transition: background-color .2s ease;
      transition: border-bottom .4s ease;
      &:hover{
        background-color: #0194a2;
      }
      &:focus{
        outline: none;
      }
    }
    .is-active{
      .btn{
        border-bottom: solid 4px lighten(#0194a2, 15%);
      }

    }
    @media (max-width: 500px) {
        text-align: center;
        .btn{
          font-size: 1rem;
        }
    }
  }
}

main {
  text-align: center;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}
.background {
  background-image: url('/img/woodenBg.jpg');
  background-size: cover;
  position: relative;
}

