<div class="ng-gallery" *ngIf="showRepeat">

  <div class="flex-wrapper">
    <div *ngFor="let i of modalImages; let index = index" class="image-detail">
      <div class="bg" [ngStyle]="{'background-image': 'url(' + i.thumb + ')'}" (click)="openGallery(index)"></div>
      <div class="caption">
        <h6>{{i.title}}</h6>
      </div>
    </div>
  </div>

</div>

<div class="ng-overlay" *ngIf="opened">
  <div class="ng-gallery-content">
    <div class="uil-ring-css" *ngIf="loading">
      <div></div>
    </div>
    <a class="close-popup" (click)="closeGallery()" aria-label="Close"><i class="fa fa-close"></i></a>
    <a class="nav-left" *ngIf="modalImages.length >1" (click)="prevImage()"><i class="fa fa-angle-left"></i></a>
    <img *ngIf="!loading" src="{{imgSrc}}" (click)="nextImage()" class="effect" />
    <a class="nav-right" *ngIf="modalImages.length >1" (click)="nextImage()"><i class="fa fa-angle-right"></i></a>
    <span class="info-text">{{ currentImageIndex + 1 }}/{{ modalImages.length }} - {{ modalImages[currentImageIndex].title}}</span>
  </div>
</div>
