.home {
  margin: 0;
  height: 100%;
  color: white;
  background-image: url('/img/brushesBg.jpg');
  background-size: cover;
  background-position-y: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay {
    display: flex;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    @media(max-width: 780px) {
      flex-direction: column-reverse;

      h1 {
        font-size: 4rem;
      }
    }
    @media(max-width: 550px) {
      padding-top: 8rem;

      h1 {
        font-size: 3rem;
      }
    }

    .item {
      flex: 1;
      padding: 1rem;

      &:first-child {
        flex: 1.5;
      }

      .text {
        max-width: 600px;
      }

      .main-btn {
        border-radius: 18px;
        background-color: #0194a2;
        color: #fff;
        border: none;
        padding: 4px 18px;

        .fa {
          transition: all 0.2s ease;
        }

        &:hover {
          cursor: pointer;
          background-color: darken(#0194a2, 10%);

          .fa {
            transform: translateX(3px);
          }
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  h1 {
    font-size: 5em;
    color: #fff;
  }
}
