.home {
    margin: 0;
    height: 100%;
    color: white;
    background-image: url('/img/brushesBg.jpg');
    background-size: cover;
    background-position-y: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before{
        content:"";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    h1{
        font-size: 5em;
        color: black;
    }
    .jumbotron{
        z-index: 1;
    }
    @media(max-width: 500px){
        .jumbotron{
            background-color: transparent;
            h1{
                font-size: 3em;
                color: #fff;
            }
        }
    }
    .banner{
        .btn{
            background-color: #0194a2;
            margin-top: 2rem;
            width: 200px;
            padding: 10px 50px;
            font-size: 2em;
            border: none;
            transition: all .3s ease;
            &:hover{
                background-color: darken(#0194a2, 10%);
            }
        }
    }
}
